* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #48302E;
    overflow-x: hidden;
    font-family: 'Bentham', serif;
    font-size: 1.2rem;
}

.mainTrocasDevolucoes{
    /* font-family: 'Bentham', serif; */
    margin-bottom: 30px;
    font-size: 1.2rem;
}

h1{
    /* font-size: 40px; */
}

.titulo-quem-somos{
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-text{
    padding: 3%;
    max-width: 100%;
    font-size: 1.2rem;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    flex-direction: column;
    
}

.paragrafo-text{
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.subtitulo{
    color: #D7A29B;
}

.topicos-quem-somos{
    margin-top: 20px;
    display: flex;
    gap: 200px;
}

.list{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
}

li{
    list-style-type: circle;
    /* font-family: 'Fuzzy Bubbles', cursive; */
    color: #D7A29B;
    font-weight: bold;
}

.container-sobre-a-empresa{
    background-color: #F4C3BD;
    border-radius: 7px;
    padding: 50px;
    max-width: 50%;
    margin-top: 50px;
}

.titulo-historico-empresa{
    font-size: 1.2rem;
}

.integrantes img{
    border-radius: 10px;
    border: 3px solid #D7A29B;
    width: 130px;
    height: 230px;
    box-shadow: 1px 1px 2px 2px rgb(202, 184, 184);
    object-fit: cover;
    
    /* max-width: 80%; */
}

.integrantes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 40px;

    /* background-color: aqua; */
}

#textoSobreEmpresa{
    /* max-width: 650px; */
    max-width: 100%;
}

#mostrar{
    display: none;
    background-color: #F4C3BD;
    padding: 5%;
    max-width: 100%;
    border-radius: 50px;
    color: #48302E;
}
  
#passar_mouse:hover #mostrar{
    display:block;
}

@media (max-width: 900px  ){

    .paragrafo-text{
        max-width: 90%;
        margin-top: 20px;
    }

    .topicos-quem-somos{
        /* background-color: aqua; */
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 30px;
    }

    .container-sobre-a-empresa{
        max-width: 90%;
    }
  
    .container-sobre-a-empresa h2{
      /* max-width: 80%; */
      font-size: 20px;
    }

    .integrantes img{
        width: 150px;
        height: 200px;
    }

    .integrantes{
        /* background-color: aquamarine; */
        display: flex;
        flex-direction: column;
    }
  
  }