* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #48302E;
    overflow-x: hidden;
}

main{
    font-family: 'Bentham', serif;
    margin-bottom: 30px;
}

.titulo-quem-somos{
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-text{
    padding: 3%;
    max-width: 100%;
    font-size: 1.2rem;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    flex-direction: column;
    
}

.paragrafo-text{
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.subtitulo{
    color: #D7A29B;
}

.topicos-quem-somos{
    margin-top: 20px;
    display: flex;
    gap: 200px;
}

.list{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
}

li{
    list-style-type: circle;
    /* font-family: 'Fuzzy Bubbles', cursive; */
    color: #D7A29B;
    font-weight: bold;
}

.container-sobre-a-empresa{
    background-color: #F4C3BD;
    border-radius: 7px;
    padding: 50px;
    max-width: 50%;
    margin-top: 50px;
}

.titulo-historico-empresa{
    font-size: 1.2rem;
}

.integrantes img{
    border-radius: 10px;
    border: 3px solid #D7A29B;
    width: 7%;
    box-shadow: 1px 1px 3px 3px rgb(202, 184, 184);
    object-fit: cover;
}

.integrantes{
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 20px;
}

#textoSobreEmpresa{
    /* max-width: 650px; */
    max-width: 100%;
}