*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    font-family:  "Bentham", serif;;
}
main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family:se ;
    /* background: #098325; */
}
    h1{
        font-size: 35px;
        margin-bottom: 30px;
        font-family: "Bentham", serif;
    }
    .cardProduto{
        width: 70%;
        height: 300px;
        /* background: #983083; */
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border: solid 5px #D7A29B;
        border-radius: 15px;
        margin-top: 20px;
    }
        .divImagemP{
            width: 20%;
            height: 90%;
            margin: 20px;
        
        }
            .imagemP{
                width: 100%;
                max-width: 400px;
                height: 100%;
                max-height: 610px;
                border-radius: 15px;
                object-fit: cover;
            }
        .nomeQtde{
            width: 20%;
            height: 90%;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            padding: 40px 20px 30px 10px;
            background: rgb(255, 0, 0);
        }
            h3{
                font-size: 25px;
                text-align: justify;
                font-family:  "Bentham", serif;;
            }
            .qtde{
                width: 100%;
                height: 35%;
                padding-left: 10px;
                border: solid 2px #D7A29B;
                background: none;
                font-family:  "Bentham", serif;
                font-size: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button{
                -webkit-appearance: radio;
                margin: 0;
            }
        .corTam{
            background: rgb(28, 172, 148);
            font-family: "Bentham", serif;;
        }
        