*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#formPesquisa{
    margin: 15px;
    border: 2px solid #B09896;
    border-radius: 5px;
    outline: none;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    max-width: 190px;
}

#caixaPesquisa{
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 5px;
    font-family: 'Bentham', serif;
}

#lupa{
    margin-top: 2px;
    position: absolute;
    width: 50px;
    height: 30px;
}