* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  overflow-x: hidden;
}

#containerBolinhas{
  position: absolute;
  top: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  gap: 30px;
}

.slideshow-container {
  max-width: 100vw;
  position: relative;
  margin: auto;
}

/* Esconder as imagens por padrão */
.meusSlides {
  display: none;
}

.meusSlides img {
  margin-top: 30px;
  max-height: 550px;
  max-width: 100vw;
  object-fit: cover;
}

/* Botões de próximo e anterior */
.anterior,
.proximo {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 50px;
  margin-top: -22px;
  padding: 16px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 18px;
  transition: 0.1s linear;
  border-radius: 9999px;
  user-select: none;
  background-color: #cfb8b591;
  margin: 15px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Posição do botão de "próximo" */
.proximo {
  right: 0;
}

.anterior:hover,
.proximo:hover {
  background-color: #cfb8b5;
}

/* Bolinhas */
.bolinha {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #cfb8b5;
  border-radius: 50%;
  display: inline-block;
  transition: 0.1s linear;
}

.active,
.bolinha:hover {
  background-color: #f8d6d2;
}

/* Animação de fade */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.2s;
  animation-name: fade;
  animation-duration: 0.2s;
}

.card {
  margin-top: 20px;
  text-align: center;
  border: 3px solid #D7A29B;
  border-radius: 20px;
  width: 280px;
  height: 410px;
  margin: 15px;
}

#imgProduto {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  user-select: none;
}

#desconto {
  position: absolute;
  background-color: #F4C3BD;
  width: 120px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  border-radius: 15px;
  color: white;
  margin: 5px;
}

.containerDesconto {
  display: flex;
  justify-content: flex-end;
}

.containerCard {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 30px;
  align-items: center;
  justify-content: center;
}

.containerEmail {
  width: 100vw;
  background-color: #D7A29B;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 30px;
}

.containerEmail p {
  max-width: 100%;
  font-size: 20px;
  color: white;
  margin-bottom: 15px;
}

.containerEmail input{
  border: none;
  padding: 10px;
  font-size: 20px;
  color: rgb(117, 117, 117);
  outline: none;
  border-radius: 15px;
  width: 450px;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}