* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tituloFiltro{
    width: 100vw;
    margin-top: 25px;
    text-align: center;
}

#filtroProdutos{
    /* font-family: 'Bentham', serif; */
    font-size: 20px;
}